langchain
langchain-community
langdetect
docarray
chromadb

nltk
tiktoken

pdfplumber
python-pptx
python-docx
pyhwp
pillow
opencv-python
pytesseract
paddleocr

openai==0.28

streamlit
python-dotenv

protobuf
JPype1

# 아래 2개는 지금 코드에서 docx, pdf 처리를 위해 실제로 사용하는 라이브러리
docx2txt
PyPDF2


