langchain
langchain-community
langdetect
docarray
chromadb
nltk
tiktoken
pdfplumber
python-pptx
python-docx
pyhwp
pillow
opencv-python
pytesseract
paddleoc
openai
streamlit
python-dotenv
protobuf
JPype1
